.weather-left{
    grid-column: span 1;
    .current-weather {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & h2{
                margin: 7px 0;
            }
            & p{
                color: #fff;
            }
        }
        .card-footer p{
            font-size: 14px;
            margin-bottom: 12px;
        }
        .forecast-item{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            margin-bottom: 15px;
            &.icon-wrapper{
                display: flex;
                align-items: center;
            }
        }
}